extends _layout

block append pageTitle
  title 测试页面
  link(media="all",rel="stylesheet",type="text/css",href="css/style.css")

block pageContent
  .wrap
    .Lmt40 &nbsp;
    #verticalTab.Cslides.verticalTab
      ul.tab_body
        li: a(href="#"): img(src="pic2/0.watermark.jpg")
        li: a(href="#"): img(src="pic2/1.watermark.jpg")
        li: a(href="#"): img(src="pic2/2.watermark.jpg")
        li: a(href="#"): img(src="pic2/3.watermark.jpg")
    .Lmt40 &nbsp;
    #horizontalTab.Cslides.horizontalTab
      ul.tab_body
        li: a(href="#"): img(src="pic/0.watermark.jpg")
        li: a(href="#"): img(src="pic/1.watermark.jpg")
        li: a(href="#"): img(src="pic/2.watermark.jpg")
        li: a(href="#"): img(src="pic/3.watermark.jpg")
        li: a(href="#"): img(src="pic/4.watermark.jpg")
    .Lmt40 &nbsp;
    #verticalTab2.Cslides.verticalTab.verticalTab2
      ul.tab_body
        li: a(href="#"): img(src="pic2/0.watermark.jpg")
        li: a(href="#"): img(src="pic2/1.watermark.jpg")
        li: a(href="#"): img(src="pic2/2.watermark.jpg")
        li: a(href="#"): img(src="pic2/3.watermark.jpg")
    .Lmt40 &nbsp;

block pageScriptArea
  div#scriptArea.Ldn(data-page-id="test_abc")
    script(src="js/jquery-1.9.1.min.js")
    script(src="js/neffect.js")
    script(src="js/nplugins.js")
    script(src="js/example.js")
