@charset "UTF-8";
/* 全局样式重置 */
body, div, p, em, i, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea, select, input { padding: 0; margin: 0; }

a { cursor: pointer; }
a img { border: none; }

ul, ol { list-style: none; }

table { border-spacing: 0; border-collapse: collapse; }

input:focus, select:focus, textarea:focus { outline: none; }

i { font-style: normal; }

img { display: block; }

body { font-size: 12px; line-height: 1.5em; background-color: #f7f7f7; font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53; }

.Lmt40 { margin-top: 40px; }

.Lmt20 { margin-top: 20px; }

.Ltac { text-align: center; }

.code_example { padding: 10px; margin-top: 0; border: 1px solid #dddddd; background-color: white; color: blue; }

.example_box { padding: 40px; border: 1px solid #dddddd; background-color: white; }

.wrap { width: 960px; margin-left: auto; margin-right: auto; }

.Cslides { overflow: hidden; position: relative; }
.Cslides.fade .tab_body { position: relative; }
.Cslides.fade .tab_body li { position: absolute; left: 0; top: 0; }
.Cslides.fade .tabCon { z-index: 5; }
.Cslides .tab_body { width: 9999px; }
.Cslides .tab_body li { float: left; display: inline; }
.Cslides .tab_body li a { position: relative; display: block; }
.Cslides .tab_body li a img { display: block; }
.Cslides .tabLabel { position: absolute; bottom: 0; left: 0; z-index: 6; line-height: 24px; font-family: \5FAE\8F6F\96C5\9ED1; padding-left: 10px; }
.Cslides .tabLabel a { font-size: 12px; color: white; text-decoration: none; }
.Cslides .tabCon { position: absolute; bottom: 0; left: 0; z-index: 1; width: 100%; height: 24px; background-color: rgba(0, 0, 0, 0.5); text-align: right; }
.Cslides .tabCon li { position: relative; display: inline-block; width: 20px; height: 4px; margin-right: 7px; margin-top: 10px; background-color: rgba(255, 255, 255, 0.5); cursor: pointer; }
.Cslides .tabCon li.active { background-color: rgba(255, 102, 0, 0.7); }
.Cslides .prev, .Cslides .next { width: 32px; height: 60px; display: block; position: absolute; top: 50%; margin-top: -30px; background-image: url(../img/bg_icon_arrow.png); }
.Cslides .prev { left: 10px; }
.Cslides .prev:hover { background-position: -100px 0; }
.Cslides .next { right: 10px; background-position: -48px 0; }
.Cslides .next:hover { background-position: -148px 0; }

.horizontalTab { width: 700px; margin-left: auto; margin-right: auto; }
.horizontalTab .tab_body img { background-color: white; width: 420px; padding: 4px; border: 1px solid #dddddd; margin: 0 5px; }

.verticalTab { width: 700px; margin-left: auto; margin-right: auto; }
.verticalTab .tab_body img { background-color: white; width: 200px; padding: 4px; border: 1px solid #dddddd; margin: 0 5px; }

.verticalTab2 { width: 570px; }
